<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <i class="fa-solid fa-clock fa-shake"></i>
    <%= form.label :due_date %>
    <br>
    <%= form.datetime_field :due_date %>
  </div>
  <div class="mb-3">
    <i class="fa-solid fa-clipboard-list"></i>
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: "Write task here" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
