<div id="<%= dom_id task %>">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% if task.status == "pending" %>
          <li class="list-group-item list-group-item-primary">
        <% elsif task.status == "completed" %>
          <li class="list-group-item list-group-item-success">
        <% elsif task.status == "failed" %>
          <li class="list-group-item list-group-item-danger">
        <% end %>
        <div>
          <b>Task description:</b> 
          <%= task.description %>
        </div>
        <div>
          <b>Status:</b> 
          <%= task.status %>
        </div>
        <div>
          <b>Due date:</b>
          <%= task.due_date.strftime("%b %d, %Y %I:%M %p") %>
        </div>
        <div>
          <% if task.status == "pending" %>
            <%= form_with(model: task, local: true) do |form| %>
              <%= form.hidden_field :status, value: "completed" %>
              <%= form.submit "Mark as Completed", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
