<h1>
  <%= @user.username.capitalize %> Profile
</h1>

<div class="card" style="width: 18rem;">
  <% if @user.avatar_image.present? %>
    <%= image_tag @user.avatar_image,  class: "card-img-top"%>
  <% end %>
  <div class="card-body">
    <p class="card-text"> Member since: <%= @user.created_at.strftime("%B %d, %Y") %> </p>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "pending", user_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "completed", completed_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <li class="nav-item">
      <%= link_to "failed", failed_path(@user.username), class: "nav-link" %>
    </li>
  </li>
</ul>

<% @user.own_tasks.each do |task| %>
  <% if task.status == "completed" %>
    <%= render "tasks/task", task: task %>
  <% end %>
<% end %>
