<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render "profile" %>

<div class="d-flex justify-content-center mb-3">
  <h3><%= @user.username.capitalize %>'s Completed Tasks</h3>
</div>
<div class = "container mb-3">
  <% @user.own_tasks.each do |task| %>
    <% if task.status == "completed" %>
      <%= render "tasks/task", task: task %>
    <% end %>
  <% end %>
</div>

<br>

<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mb-3">
        <h2><%= @user.username.capitalize %>'s Pets</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @user.own_pets.each do |pet| %>
          <%= render "pets/pet", pet: pet %>
        <% end %>
      </div>
    </div>
  </div>
</div>
