<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <div class="container mb-3">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <h1><%= @user.username.capitalize %>'s Profile</h1>
        <div class="card" style="max-width: 15rem;">
          <% if @user.avatar_image.present? %>
            <div class="card-body d-flex justify-content-center">
              <%= image_tag @user.avatar_image, class: "card-img-top" %>
            </div>
          <% end %>
          <div class="card-body p-3">
            <p class="card-text">Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-3">
    <div class="col-lg-6 mx-auto">
      <ul class="nav nav-tabs mt-4 justify-content-center">
        <li class="nav-item">
          <%= link_to "Pending", user_path(@user.username), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Completed", completed_path(@user.username), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Failed", failed_path(@user.username), class: "nav-link" %>
        </li>
      </ul>

      <h3><%= @user.username.capitalize %>'s Failed Tasks</h3>
      <% @user.own_tasks.each do |task| %>
        <% if task.status == "failed" %>
          <%= render "tasks/task", task: task %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container mb-3">
    <div class="row">
      <div class="col">

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <% @user.own_pets.each do |pet| %>
            <%= render "pets/pet", pet: pet %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
